[flake8]

per-file-ignores =
    tests/*.py:D103, D100

ignore =
    E203,
    E402,
    E501,
    W503,
    B006,
    D107,
    F401,
select =
    C,
    E,
    F,
    W,
    B,
    B950,
    D,
max-line-length = 88